extends layouts/Main

block content
    .user-profile
        .user-profile__header
            img.u-avatar(src=user.avatarUrl)
            h4.profile__username=user.email
            .user-profile__btns
                a(href=routes.working.user.origin + routes.working.user.edit)
                    button ✏️ 프로필 수정하기