<!DOCTYPE html>
<html>
<head>
	<title>LOGO</title>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="/js/Info.js"></script>
	<link rel="stylesheet" href="/css/Info.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400|Raleway:700&display=swap" rel="stylesheet">
</head>
<body>
	<section>
		<p th:text="${message}">(message)</p>
		<div th:if="${canGoBack}" >
			<button id="back">뒤로가기</button>
		</div>
		<div th:if="${!canGoBack}">
			<button id="backExit">창 종료</button>
		</div>
	</section>
</body>
</html>