<!DOCTYPE html>
<html>
<head>
	<title>LOGO</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="./css/resetreq.css">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="js/resetreq.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400|Raleway:700&display=swap" rel="stylesheet">
</head>
<body>
	<section>
		<h2>비밀번호재설정</h2>
		<div id="content">
			<form action="/passwordReset" method="post">
				<label for="userEmail">이메일</label>
				<input id='email' type="email" name="email" class="userEmail input" pattern="(?=.{1,254}$)[-\w!#$%&'*+/=`{|}~?^]+(\.[-\w!#$%&'*+/=`{|}~?^]+)*@((\d{1,3}\.){3}\d{1,3}|([-\w]+\.)+[a-zA-Z]{2,6})" required>
				<label for="userName">이름</label>
				<input id='name' type="text" name="name" class="userName input" pattern="[가-힣]{2,4}|[a-zA-Z]{2,10}" required>
				<button id="resetreq">재설정 요청</button>
			</form>
		</div>
	</section>
</body>
</html>