<!DOCTYPE html>
<html>
<head>
	<title>LOGO</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/pwchange.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400|Raleway:700&display=swap" rel="stylesheet">
</head>
<body>
	<section>
		<h2>회원가입진행</h2>
		<div id="content">
			<label for="userEmail">이메일</label>
			<input type="text" class="userEmail input">
			<label for="UserPW">비밀번호</label>
			<input type="text" class="UserPW input">
			<label for="reUserPW">비밀번호재입력</label>
			<input type="text" class="reUserPW input">
			<label for="UserName">이름</label>
			<input type="text" class="UserName input">
			<label for="UserNumber">사번</label>
			<input type="text" class="UserNumber input">
			<button id="signup_next">가입완료</button>
		</div>
		<button id="signup_back">뒤로가기</button>
	</section>
</body>
</html>