extends layouts/Main

block content
    .form-container
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="password", name="oldPassword", placeholder="현재 패스워드")
            input(type="password", name="newPassword", placeholder="새로운 패스워드")
            input(type="password", name="newPassword1", placeholder="Verify New 패스워드")
            input(type="submit", value="비밀번호 변경하기") 