extends layouts/Main

block content
    .form-container
        .title 
            h1 #{message}
        form(me thod="get")
            if infoType === "back"
                input(type="button", value="뒤로가기", onclick="history.back()")
            if infoType === "home"
                input(type="button", value="홈으로가기", onclick="location.href ='/'")
            if infoType === "login"
                input(type="button", value="홈으로가기", onclick="location.href ='/login/account/login'")
            if infoType === "exit"
                input(type="button", value="홈으로가기", onclick="window.close()")
            