header.header
    .header__wrapper
        .header__column
            a(href=(routes.global.root))
                i.fas.fa-address-card
                i.fas.fa-tasks
        .header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="사원을 검색하세요", name="term")
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=(routes.login.account.origin+routes.login.account.reset)) 비밀번호 초기화
                    li
                        a(href=(routes.login.account.origin+routes.login.account.join)) 회원가입
                    li
                        a(href=(routes.login.account.origin+routes.login.account.login)) 로그인

                else 
                    li
                        a(href=`/videos${routes.upload}`) 업로드하기
                    li
                        a(href=`/users${routes.me}`) 프로필 보기
                    li
                        a(href=routes.global.logout) 로그아웃